@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

body {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(51, 57, 63);
  scroll-behavior: smooth;
}
span {
  color: #ed4858;
  padding-left: 10px;
}

#navbar {
  backdrop-filter: saturate(180%) blur(10px);
}

#about {
  margin-top: 50px;
}

.btn {
  background-color: #ed4858;
  color: white;
  border-radius: 50%;
  margin-bottom: 30px;
}
.heading-underline {
  border-bottom: 4px solid #ed4858;
  border-radius: 25%;
  margin-right: 10px;
  margin-bottom: 30px;
}

.skill-box {
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid #ed4858;
  margin-bottom: 40px;
  border-radius: 20px;
}

.experience {
  margin-top: 100px;
}
.experience-heading {
  margin-bottom: 50px;
}
.events li {
  display: flex;
  color: #999;
}

.events time {
  position: relative;
  padding: 0 1.5em;
}

.events time::after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  transform: translateX(50%);
  border-radius: 50%;
  background: #fff;
  border: 1px #ccc solid;
  width: 0.8em;
  height: 0.8em;
}

.events span {
  padding: 0 1.5em 1.5em 1.5em;
  position: relative;
}

.events span::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  border-left: 1px #ccc solid;
}

.events strong {
  display: block;
  font-weight: bolder;
}

.events {
  margin: 1em;
  width: 50%;
}
.events,
.events *::before,
.events *::after {
  box-sizing: border-box;
  font-family: arial;
}
.timeline-width {
  width: 75%;
  margin-bottom: 80px;
}

@media only screen and (max-width: 800px) {
  .timeline-width {
    width: 100%;
  }
}

.msg-box {
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid #ed4858;
}
